<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type"
          content="application/xhtml+xml; charset=utf-8"/>
    <meta name="description"
          content="Battle Cats Rolls"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="/asset/image/treasure.png"/>
    <link href="/asset/style/tacit.css" rel="stylesheet" type="text/css">
    <title>Battle Cats Rolls</title>
    <style type="text/css">
      #notice { background-color: pink; }

      table { border-collapse: collapse; }
      table, th, td {
        border: 1px solid black;
        text-align: center;
      }
      .exclusive { background-color: aqua; }
      .found { background-color: lime; }
      .rare { background-color: white; }
      .supa_fest { background-color: yellow; }
      .supa { background-color: gold; }
      .uber_fest { background-color: salmon; }
      .uber { background-color: red; }
      .legend { background-color: darkviolet; }
      .legend a, .legend { color: #d8a56f; }
      .pick { cursor: cell; }
      .picked {
        background-image: linear-gradient(#00000033, #00000033);
      }
      .picked_cumulatively {
        background-image: linear-gradient(#00000088, #00000088);
      }
      .next_position {
        background-image: repeating-linear-gradient(
          90deg,
          #00000055  5px, #00000055 15px,
          #00000033 15px, #00000033 25px
        );
      }
      #seed_input { width: 10em; }
      #count_input { width: 3.5em; }
      .menu { width: 60px; height: 60px; }
      .section { margin-bottom: 15px; }

      <% unless show_details %>
        .score {
          border-bottom-style: none;
          color: transparent;
          user-select: none;
          -moz-user-select: none;
        }
        .cat { border-top-style: none; }
      <% end %>
    </style>
    <script type="text/javascript">
      function roll(element) {
        element.form.submit();
      };
      function pick(position) {
        window.location = '<%= uri %>' + '&pick=' + position
          + '#N' + position.replace(/G$/, '');
      };
    </script>
  </head>
  <body>
    <div id="menu">
      <a href="<%= uri %>" title="Home / Permalink">
        <img class="menu" src="/asset/image/treasure.png"></a>
      <a href="<%= cats_uri %>" title="Show me all cats">
        <img class="menu" src="/asset/image/cats.png"></a>
      <a href="<%= help_uri %>" title="Help!">
        <img class="menu" src="/asset/image/help.png"></a>
      <a href="<%= logs_uri %>" title="What's changed?">
        <img class="menu" src="/asset/image/logs.png"></a>
      <a href="<%= seek_uri %>" title="Looking for your seed?">
        <img class="menu" src="/asset/image/seek.png"></a>
      <hr>
    </div>

    <div id="notice" class="section">
      8.6 is experimental. The bug that giving a wrong re-rolled cat upon duplicated collaborate rare cat has been fixed. A new section was added: <a href="<%= logs_uri %>#known-bugs-for-8-6-" title="Known bugs for 8.6+">Known bugs for 8.6+</a>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      <hr>
      <a href="//<%= web_host %>/help">Help</a>
      /
      <a href="https://gitlab.com/godfat/battle-cats-rolls">Source</a>
      &copy;
      2018-2019 Lin Jen-Shin (godfat)
    </div>
  </body>
</html>
