<% if controller.path_info.match?(%r{\A/(?:cats|logs|seek)?\z}) %>
<div class="options">
  <label for="lang_select">Language:</label>
  <select id="lang_select" name="lang" onchange="roll(this)">
    <option value="en" <%= selected_lang('en') %>>BCEN</option>
    <option value="tw" <%= selected_lang('tw') %>>BCTW</option>
    <option value="jp" <%= selected_lang('jp') %>>BCJP</option>
    <option value="kr" <%= selected_lang('kr') %>>BCKR</option>
  </select>

  <% if controller.path_info.match?(%r{\A/(?:seek)?\z}) %>
  <label for="version_select">Version:</label>
  <select id="version_select" name="version" onchange="roll(this)">
    <% if controller.path_info == '/seek' %>
      <option value="8.6" disabled="disabled">8.6+ (not functional yet)</option>
    <% else %>
      <option value="8.6" <%= selected_version('8.6') %>>8.6+ (experimental)</option>
    <% end %>
    <option value="8.5" <%= selected_version('8.5') %>>8.5</option>
    <option value="8.4" <%= selected_version('8.4') %>>8.4</option>
  </select>
  <% else %>
  <%= hidden_inputs('version') %>
  <% end %>

  <% if controller.path_info != '/logs' %>
  <label for="name_select">Name:</label>
  <select id="name_select" name="name" onchange="roll(this)">
    <option value="0" <%= selected_name(0) %>>Base</option>
    <option value="1" <%= selected_name(1) %>>Evolved</option>
    <option value="2" <%= selected_name(2) %>>True</option>
  </select>
  <% else %>
  <%= hidden_inputs('name') %>
  <% end %>
</div>
<% else %>
<%= hidden_inputs('lang', 'version', 'name') %>
<% end %>
