<div class="table">
  <table>
    <tr>
      <th>No.</th>
      <% if show_details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <% if show_details %>
        <th>Score, slot</th>
      <% else %>
        <th>Result</th>
      <% end %>
      <th>Guaranteed</th>
      <% if show_details %>
        <th>Alt. score, slot</th>
      <% else %>
        <th>Alt. result</th>
      <% end %>
      <th>Alt. guaranteed</th>
      <% if show_details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <th>Alt. No.</th>
    </tr>

    <% each_ab_cat do |prev_b, (a, b)| %>
      <tr>
        <td rowspan="2" id="N<%= a.sequence_track %>"><%= a.sequence_track %></td>
        <%= seed_column(a.rarity_fruit) %>
        <td class="score <%= color_label(a) %>" <%= onclick_pick(a) %>>
          <%= a.score %>, <%= a.slot %></td>
        <td rowspan="2" class="<%= color_label_guaranteed(a) %>"
          <%= onclick_pick(a.guaranteed) %>>
          <%= guaranteed_cat(a, -1) %></td>

        <% if prev_b %>
          <td class="cat <%= color_label(prev_b) %>" <%= onclick_pick(prev_b) %>>
            <%= link_to_roll(prev_b) %></td>
          <%= seed_column(prev_b.slot_fruit) %>
        <% elsif show_details %>
          <td colspan="5"></td>
        <% else %>
          <td colspan="3"></td>
        <% end %>
      </tr>

      <tr>
        <%= seed_column(a.slot_fruit) %>
        <td class="cat <%= color_label(a) %>" <%= onclick_pick(a) %>>
          <%= link_to_roll(a) %></td>
        <td class="score <%= color_label(b) %>" <%= onclick_pick(b) %>>
          <%= b.score %>, <%= b.slot %></td>
        <td rowspan="2" class="<%= color_label_guaranteed(b) %>"
          <%= onclick_pick(b.guaranteed) %>>
          <%= guaranteed_cat(b, 0) %></td>
        <%= seed_column(b.rarity_fruit) %>
        <td rowspan="2" id="N<%= b.sequence_track %>"><%= b.sequence_track %></td>
      </tr>
    <% end %>

    <tr>
      <% if show_details %>
        <td colspan="5"></td>
      <% else %>
        <td colspan="3"></td>
      <% end %>

      <% last_b = arg.dig(:cats, -1, -1) %>
      <td class="cat <%= color_label(last_b) %>">
        <%= link_to_roll(last_b) %></td>
      <%= seed_column(last_b.slot_fruit) %>
    </tr>
  </table>
</div>
